<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="golang.jpg" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Forum</title>
    <style>
      html,
      body,
      p {
        padding: 10px;
        border: 0;
        margin: 10px;
      }
      body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      .post {
        padding: 2px;
        margin: 2px;
      }
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 1rem;
        color: black;
      }
      .link {
        font-size: 1rem;
      }
      
    </style>
  </head>
  <body onload="onPageLoad({{.}})">   
    <div class="container">
      <div style="width: 100%" class="d-flex flex-row-reverse">
        {{if .LoggedIn}}
        <a type="button" class="btn btn-light" href="/logout" style="margin-right: 10px;">log out</a>        
        <a href="/posts/create" class="btn btn-primary" style="margin-right: 10px;">create a post</a>
        {{else}}
        <a type="button" class="btn btn-light" href="/login" style="margin-right: 10px;">sign in</a>
        {{end}}
      </div>
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex">
          {{range $index, $category := .Categories}}
          <a class="p-2 text-muted" href="/category/{{$category.ID}}">{{$category.Name}}</a>              
          {{end}}
        </nav>
      </div>
      {{if .LoggedIn}}
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex">
          <p>
            <input id="isLiked" type="checkbox" onclick="IsLiked()">
            <span style="margin-left: 5px;">liked posts</span>
          </p>
          <p>
            <input id="isMyPost" type="checkbox" onclick="IsMyPost()">
            <span style="margin-left: 5px;">created posts</span>
          </p>
        </nav>
      </div>
      {{end}}
    {{range $index, $post := .Posts}}
    <div class="post" id="post-{{$post.Id}}">
      <div class="card text-center">
        <div class="card-header">
          <div class="card-title"><a href="/posts/show?id={{$post.Id}}"><h3>{{$post.Title}}</h3></a></div>
        </div>
        <div class="card-body">
          
          <p class="card-text">{{$post.Description}}</p>
        </div>
        <div class="card-footer text-muted">
          <p class="footer-p">
            <i class="icon-user"></i> by {{$post.AuthorName}}
          | <i class="icon-calendar"></i> {{$post.Timestamp}}
          | Category: {{$post.CategoryName}}
        </p>
        </div>
      </div>
    </div>    
    {{end}}
    </div>
  </body>
</html>



<script>
  var category = [];
  var isLiked = false;
  var isMyPost = false;
  var posts = [];

  var IsLiked = function(){
    var checkBox = document.getElementById("isLiked");
    if (checkBox.checked == true)
      isLiked = true;
    else
      isLiked = false;
    FilterSelected();
  }

  var IsMyPost = function(){
    var checkBox = document.getElementById("isMyPost");
    if (checkBox.checked == true)
      isMyPost = true;
    else
      isMyPost = false;
    FilterSelected();
  }

  var FilterSelected = function(){
    Reset();
    for(var p of posts){
      debugger
      if(isMyPost && !p.IsMyPost)
        document.getElementById("post-" + p.Id).style.display = "none";
      if(isLiked && !p.IsLiked)
        document.getElementById("post-" + p.Id).style.display = "none";
    }
  }

  var Reset = function(){
    for(var p of posts){
      document.getElementById("post-" + p.Id).style.display = "block";
    }
  }

  var ResetFilters = function(){
    document.getElementById("isMyPost").checked = false;
    document.getElementById("isLiked").checked = false;
  }

  var onPageLoad = function(data){
    //console.log(data)
    ResetFilters();
    posts = data.Posts;
  }
  
</script>