<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Category</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/statics/styles/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  </head>
  <body>
    <div class="container fullscreen">
      <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-4">
                  <a class="blog-header-logo text-dark" href="/">ForumAlem</a>
              </div>
          </div>
      </header>
    <div class="container">
      <div style="width: 100%" class="d-flex flex-row-reverse">
        {{if .LoggedIn}}
        <a type="button" class="btn btn-light" href="/logout" style="margin-right: 10px;">log out</a>        
        <a href="/posts/create" class="btn btn-primary" style="margin-right: 10px;">create a post</a>
        {{else}}
        <a type="button" class="btn btn-light" href="/login" style="margin-right: 10px;">sign in</a>
        {{end}}
      </div>
      <br/>
    <div class="post">
      <div class="card text-center">
        <div class="card-header">
          <h3>{{.ThisPost.Title}}</h3>
        </div>
        <div class="card-body">
          <p class="card-text">{{.ThisPost.Description}}</p>
        </div>
        <div class="card-footer text-muted">
          <p class="footer-p">
              <i class="icon-user"></i> by {{.ThisPost.AuthorName}}
            | <i class="icon-calendar"></i> {{.ThisPost.Timestamp}}
            | <i class="icon-tags"></i> Category : <span class="label label-info">{{.ThisPost.CategoryName}}</span>
            {{if .LoggedIn}}
              {{if eq .UserData.UserName .ThisPost.AuthorName}}
              
                | <a href="/posts/update?id={{.ThisPost.Id}}" class="card-link">update</a>
                | <a href="/posts/delete/process?id={{.ThisPost.Id}}" class="card-link">delete</a>
                {{end}}
            {{end}}
          </p>
          <p class="blog-post-likes">
            {{if .UserLiked}}
            <div class="one-png liked">
                <form  action="/like/{{.ThisPost.Id}}"
                method="post">
                <input type="hidden" name="likeordislike" value="like">
                <button type="submit">Like</button>
              </form>
                {{.Likes}}
            </div>
            {{else}}
            <div class="one-png">
              <form  action="/like/{{.ThisPost.Id}}"
              method="post">
              <input type="hidden" name="likeordislike" value="like">
              <button type="submit">Like</button>
            </form>                                
                {{.Likes}}
            </div>
            {{end}}
      
            {{if .UserDisliked}}
            <div class="one-png disliked">
              <form  action="/like/{{.ThisPost.Id}}"
              method="post">
              <input type="hidden" name="likeordislike" value="dislike">
              <button type="submit">Dislike</button>
            </form>                                                                
                {{.Dislikes}}
            </div>
            {{else}}
            <div class="one-png">
              <form  action="/like/{{.ThisPost.Id}}"
              method="post">
              <input type="hidden" name="likeordislike" value="dislike">
              <button type="submit">Dislike</button>
            </form>                                                               
                {{.Dislikes}}
            </div>
            {{end}}
        </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">
                Recent Comments | Total: {{len .Comments}}</p>
        </div>
        <div class="panel-body">
            <ul class="list-group">
              {{range $index, $value := .Comments}}
                <li class="list-group-item">
                    <div class="row">
                      
                        <div class="col-lg-10 col-md-11">
                                <div class="mic-info">
                                  By: {{$value.AuthorName}} on {{$value.Timestamp}}
                                </div>
                            <div class="comment-text">
                              {{$value.Text}}
                            </div>
                        </div>
                    </div>
                </li>

                {{end}}
            </ul>
        </div>
    </div>
    <br/>

    {{if .LoggedIn}}
    <form
      class="form"
      action="/comments/{{.ThisPost.Id}}"
      method="post"
      id="add-comment-form"
    >
      <div class="form-group">
        <p style="font-size: 14px; margin-bottom: 0px;" class="h3 mb-3 text-top">Write your comment:</p>
        <textarea
          style="font-size: 14px;"
          class="form-control"
          id="comment"
          rows="3"
          placeholder="Text of the comment"
          name="comment"
        ></textarea>
      </div>
      <p class="error-text" id="errorText"></p>
      <butto class="btn btn-sm btn-primary btn-block" type="submit" style="margin-bottom: 30px;">
        Add Comment
      </button>
    </form>
    {{end}}
  </div>
  </div>
  </body>
</html>
